<div th:fragment="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        <h4 class="mb-0"><i class="fas fa-wallet me-2"></i>Withdraw Points</h4>
                    </div>
                    <div class="card-body">
                        <p class="text-center">Withdrawal functionality is under development.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>